### Project No. 1: Mercedes-Benz Greener Manufacturing

In [1]:
# Step1: Import the required libraries

# linear algebra
import numpy as np
# data processing, CSV file I/O (e.g. pd.read_csv)
import pandas as pd
# for dimensionality reduction
from sklearn.decomposition import PCA

In [2]:
# Step2: Read the data from train.csv

df_train = pd.read_csv('train.csv')
# let us understand the data
print('Size of training set: {} rows and {} columns'
      .format(*df_train.shape))

Size of training set: 4209 rows and 378 columns

In [3]:
# print few rows and see how the data looks like
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Step3: Collect the Y values into an array

# seperate the y from the data as we will use this to learn as 
# the prediction output
y_train = df_train['y'].values

In [5]:
# Step4: Understand the data types we have

# iterate through all the columns which has X in the name of the column
cols = [c for c in df_train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))

Number of features: 376

In [6]:
print('Feature types:')
df_train[cols].dtypes.value_counts()

Feature types:

int64     368
object      8
dtype: int64

In [7]:
# Step5: Count the data in each of the columns

counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [8]:
# Step6: Read the test.csv data

df_test = pd.read_csv('test.csv')

# remove columns ID and Y from the data as they are not used for learning
usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

In [9]:
# Step7: Check for null and unique values for test and train sets

def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")
check_missing_values(x_train)
check_missing_values(x_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

In [10]:
# Step8: If for any column(s), the variance is equal to zero, 
# then you need to remove those variable(s).
# Apply label encoder

for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1) # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

<ipython-input-10-9fdc2c8730c7>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[column] = x_train[column].apply(mapper)
<ipython-input-10-9fdc2c8730c7>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[column] = x_test[column].apply(mapper)

,X110,X246,X299,X322,X18,X334,X5,X155,X0,X327,...,X366,X268,X341,X87,X296,X32,X243,X150,X348,X368
0,0,0,0,0,1,1,117,0,107,1,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,1,0,121,0,107,0,...,0,0,0,0,0,0,0,1,1,0
2,0,1,0,0,0,1,120,0,219,0,...,0,0,0,0,0,0,0,1,1,0
3,0,1,0,0,0,0,120,0,219,0,...,0,0,0,0,0,0,0,1,1,0
4,0,1,0,0,0,1,104,0,219,0,...,0,0,0,0,0,0,0,1,1,0

In [11]:
# Step9: Make sure the data is now changed into numericals

print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

In [12]:
# Step10: Perform dimensionality reduction
# Linear dimensionality reduction using Singular Value Decomposition of 
# the data to project it to a lower dimensional space.
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

In [13]:
# Step11: Training using xgboost

import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_valid, y_train, y_valid = train_test_split(
        pca2_results_train, 
        y_train, test_size=0.2, 
        random_state=4242)

In [15]:
d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
#d_test = xgb.DMatrix(x_test)
d_test = xgb.DMatrix(pca2_results_test)

In [16]:
params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

In [17]:
def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

watchlist = [(d_train, 'train'), (d_valid, 'valid')]

clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[22:53:56] WARNING: c:\ci\xgboost-split_1619728435298\work\src\objective\regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.14835	train-r2:-58.35295	valid-rmse:98.26297	valid-r2:-67.63754
[10]	train-rmse:81.27651	train-r2:-38.88428	valid-rmse:80.36433	valid-r2:-44.91014
[20]	train-rmse:66.71610	train-r2:-25.87403	valid-rmse:65.77334	valid-r2:-29.75260
[30]	train-rmse:54.86915	train-r2:-17.17724	valid-rmse:53.89119	valid-r2:-19.64513
[40]	train-rmse:45.24564	train-r2:-11.36018	valid-rmse:44.22232	valid-r2:-12.90160
[50]	train-rmse:37.44741	train-r2:-7.46672	valid-rmse:36.37758	valid-r2:-8.40697
[60]	train-rmse:31.15104	train-r2:-4.85891	valid-rmse:30.01771	valid-r2:-5.40526
[70]	train-rmse:26.08767	train-r2:-3.10906	valid-rmse:24.90843	valid-r2:-3.41037
[80]	train-rmse:22.04896	train-r2:-1.93527	valid-rmse:20.82554	valid-r2:-2.08301
[90]	train-rmse:18.84730	train-r2:-1.14472	valid-rmse:17.59520	valid-r2:-1.20075
[100]	train-rmse:16.33662	train-r2:-0.61137	valid-rmse:15.07626	valid-r2:-0.61573
[110]	train-rmse:14.39752	train-r2:-0.25155	valid-rmse:13.14546	valid-r2:-0.22838
[120]	train-rmse:12.92282	train-r2:-0.00829	valid-rmse:11.68457	valid-r2:0.02947
[130]	train-rmse:11.81491	train-r2:0.15718	valid-rmse:10.61418	valid-r2:0.19914
[140]	train-rmse:10.98412	train-r2:0.27155	valid-rmse:9.85128	valid-r2:0.31013
[150]	train-rmse:10.37286	train-r2:0.35037	valid-rmse:9.31602	valid-r2:0.38306
[160]	train-rmse:9.92385	train-r2:0.40539	valid-rmse:8.95286	valid-r2:0.43022
[170]	train-rmse:9.59446	train-r2:0.44421	valid-rmse:8.70782	valid-r2:0.46098
[180]	train-rmse:9.35086	train-r2:0.47207	valid-rmse:8.54704	valid-r2:0.48071
[190]	train-rmse:9.16592	train-r2:0.49275	valid-rmse:8.44115	valid-r2:0.49349
[200]	train-rmse:9.02125	train-r2:0.50863	valid-rmse:8.37701	valid-r2:0.50116
[210]	train-rmse:8.91196	train-r2:0.52047	valid-rmse:8.34192	valid-r2:0.50533
[220]	train-rmse:8.82786	train-r2:0.52948	valid-rmse:8.31911	valid-r2:0.50803
[230]	train-rmse:8.76426	train-r2:0.53623	valid-rmse:8.30226	valid-r2:0.51002
[240]	train-rmse:8.71793	train-r2:0.54112	valid-rmse:8.29537	valid-r2:0.51084
[250]	train-rmse:8.67415	train-r2:0.54572	valid-rmse:8.29053	valid-r2:0.51141
[260]	train-rmse:8.63749	train-r2:0.54955	valid-rmse:8.28758	valid-r2:0.51176
[270]	train-rmse:8.60620	train-r2:0.55281	valid-rmse:8.28675	valid-r2:0.51185
[280]	train-rmse:8.57825	train-r2:0.55571	valid-rmse:8.28636	valid-r2:0.51190
[290]	train-rmse:8.54773	train-r2:0.55886	valid-rmse:8.28826	valid-r2:0.51167
[300]	train-rmse:8.52733	train-r2:0.56097	valid-rmse:8.28795	valid-r2:0.51171
[310]	train-rmse:8.50079	train-r2:0.56369	valid-rmse:8.28587	valid-r2:0.51196
[320]	train-rmse:8.46996	train-r2:0.56685	valid-rmse:8.28191	valid-r2:0.51242
[330]	train-rmse:8.44794	train-r2:0.56910	valid-rmse:8.27975	valid-r2:0.51268
[340]	train-rmse:8.42394	train-r2:0.57155	valid-rmse:8.28148	valid-r2:0.51247
[350]	train-rmse:8.40008	train-r2:0.57397	valid-rmse:8.28126	valid-r2:0.51250
[360]	train-rmse:8.37667	train-r2:0.57634	valid-rmse:8.28242	valid-r2:0.51236
[370]	train-rmse:8.35297	train-r2:0.57874	valid-rmse:8.28073	valid-r2:0.51256
[380]	train-rmse:8.32810	train-r2:0.58124	valid-rmse:8.27942	valid-r2:0.51272
[390]	train-rmse:8.30156	train-r2:0.58391	valid-rmse:8.27593	valid-r2:0.51313
[400]	train-rmse:8.27871	train-r2:0.58619	valid-rmse:8.27331	valid-r2:0.51343
[410]	train-rmse:8.25540	train-r2:0.58852	valid-rmse:8.27255	valid-r2:0.51353
[420]	train-rmse:8.22904	train-r2:0.59115	valid-rmse:8.27029	valid-r2:0.51379
[430]	train-rmse:8.20557	train-r2:0.59347	valid-rmse:8.27132	valid-r2:0.51367
[440]	train-rmse:8.18220	train-r2:0.59579	valid-rmse:8.26963	valid-r2:0.51387
[450]	train-rmse:8.15361	train-r2:0.59861	valid-rmse:8.26801	valid-r2:0.51406
[460]	train-rmse:8.13213	train-r2:0.60072	valid-rmse:8.26734	valid-r2:0.51414
[470]	train-rmse:8.10725	train-r2:0.60316	valid-rmse:8.26507	valid-r2:0.51440
[480]	train-rmse:8.07682	train-r2:0.60613	valid-rmse:8.26664	valid-r2:0.51422
[490]	train-rmse:8.05294	train-r2:0.60846	valid-rmse:8.26961	valid-r2:0.51387
[500]	train-rmse:8.02876	train-r2:0.61081	valid-rmse:8.27071	valid-r2:0.51374
[510]	train-rmse:8.00850	train-r2:0.61277	valid-rmse:8.27260	valid-r2:0.51352
[514]	train-rmse:8.00167	train-r2:0.61343	valid-rmse:8.27247	valid-r2:0.51353

In [18]:
# Step12: Predict your test_df values using xgboost

p_test = clf.predict(d_test)

sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub.to_csv('xgb.csv', index=False)

In [19]:
sub.head()

   ID           y
0   1   82.606285
1   2   97.195374
2   3   83.208588
3   4   77.146034
4   5  112.783669